<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Quản lý sản phẩm</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqx61gVWgIG+3ruVS71y1QzF4jDW1lQ4lYC/n4urKqUFH38wDw9q38y" crossorigin="anonymous">
</head>
<body>
  <div class="container">
    <h1>Quản lý sản phẩm</h1>
    <a href="/products/create" class="btn btn-primary">Thêm sản phẩm</a>
    <ul class="list-group">
      <% for (const product of products) { %>
      <li class="list-group-item">
        <strong>Mã sản phẩm:</strong> <%= product.productCode %>
        <br>
        <strong>Tên sản phẩm:</strong> <%= product.productName %>
        <br>
        <strong>Giá gốc:</strong> <%= product.productOriginPrice %>
        <br>
        <strong>Số lượng:</strong> <%= product.quantity %>
        <br>
        <strong>Mã kho:</strong> <%= product.productStoreCode %>
        <br>
        <a href="/products/edit/<%= product._id %>" class="btn btn-warning">Sửa</a>
        <a href="/products/delete/<%= product._id %>" class="btn btn-danger">Xóa</a>
      </li>
      <% } %>
    </ul>
  </div>
</body>
</html>
