<%- include('header') %>

<div class="container">
  <h1>Danh sách sản phẩm</h1>
  <table class="table">
    <thead>
      <tr>
        <th>Mã sản phẩm</th>
        <th>Tên sản phẩm</th>
        <th>Ngày sản xuất</th>
        <th>Giá gốc</th>
        <th>Số lượng</th>
        <th>Mã kho</th>
      </tr>
    </thead>
    <tbody>
      <% for (const product of products) { %>
      <tr>
        <td><%= product.ProductCode %></td>
        <td><%= product.ProductName %></td>
        <td><%= product.ProductDate %></td>
        <td><%= product.ProductOriginPrice %></td>
        <td><%= product.Quantity %></td>
        <td><%= product.ProductStoreCode %></td>
      </tr>
      <% } %>
    </tbody>
  </table>
</div>

<%- include('footer') %>
